body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/spotlight.png');
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ACTOR PAGE */

h1#actorPageNameText {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    text-align: center;
    color: #C519D4;
}

.createNewButton {
    background-color: #0D7369;
    border: solid;
    border-color: #8F8F8F;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    align-content:center;
}

a.hyperLink { color: #FFFFFF }
a.hyperLink:active { color: #FFFFFF }
a.hyperLink:link { color: #FFFFFF }
a.hyperLink:visited { color: #FFFFFF }

/* ACTOR BACKGROUND IMAGE & NAME */

.actorBackground {
    background-image: url('images/stars.jpg');
    background-size: cover;
}

h1#actorHeaderText {
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

h4#actorSubText {
    font-family: 'Montserrat', sans-serif;
}